<%- include('../models/header'); %> 

<h1>Free plugins</h1>
<ul class="list plugins">
    <% plugins.forEach(plugin => { %>
        <% if (plugin.free) { %>
            <li id="<%= plugin.name %>">
                <h3><%= plugin.name %></h3>
                <p><%= plugin.short_description %></p>
                <ul>
                    <p><strong>This is the plugin content:</strong></p>
                    <% plugin.description.content.forEach(content => { %>
                        <li>- <%= content %></li>
                    <% }) %>
                </ul>

                <figure>
                    <% plugin.description.images.forEach(image => { %>
                        <div class="slides">
                            <img src="<%= image.split("\\-")[0] %>" alt="<%= image.split("\\-")[1] %> "></img>
                        </div>
                    <% }) %>
                    <button onclick="plusSlide('<%= plugin.name %>', -1)">&#10094;</button>
                    <button onclick="plusSlide('<%= plugin.name %>', 1)">&#10095;</button>
                </figure>
                <script>showSlide('<%= plugin.name %>', 1)</script>
            </li>
        <% } %>
    <% }) %>
</ul>

<!-- <h1>Paid plugins</h1>
<ul class="list plugins">
    <% plugins.forEach(plugin => { %>
        <% if (!plugin.free) { %>
            <li>
                <h3><%= plugin.name %></h3>
                <p><%= plugin.short_description %></p>
                <ul>
                    <p><strong>This is the plugin content:</strong></p>
                    <% plugin.description.content.forEach(content => { %>
                        <li>- <%= content %></li>
                    <% }) %>
                </ul>

                <figure>
                    <% plugin.description.images.forEach(image => { %>
                        <img src="<%= image.split("\\-")[0] %>" alt="<%= image.split("\\-")[1] %> "></img>
                    <% }) %>
                </figure>
            </li>
        <% } %>
    <% }) %>
</ul> -->

<%- include('../models/footer') %> 